<div class="animated fadeIn">
  <img src="../../../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
  <div class="card" *ngIf="!loading">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Lista de compras activas
    </div>
    <div class="card-body row" >
      <div class="col-lg-12">
        <tabset>
          <tab heading="Compras" >
            <br>
            <div style="text-align: right;" *ngIf="verDatos">
              <!--button type="button" class="btn btn-primary" (click)=saveFile()>Imprimir</button-->
              <button type="button" class="btn btn-success" (click)=volver()>Volver</button>
            </div>
            <div *ngIf="!verDatos">
             <div class="row">

                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Inicio: </label>
                  <input matInput [matDatepicker]="inicio2" placeholder="Choose a date" [(ngModel)]="inicioD2">
                  <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
                  <mat-datepicker #inicio2></mat-datepicker>
                </div>
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Fin: </label>
                  <input matInput [matDatepicker]="fin2" placeholder="Choose a date" [(ngModel)]="finD2">
                  <mat-datepicker-toggle matSuffix [for]="fin2"></mat-datepicker-toggle>
                  <mat-datepicker #fin2></mat-datepicker>
                </div>
                <div class="col-sm-1" style="text-align: center"> 
                  <button type="button" class="btn btn-primary" (click)=buscar()>Buscar</button>
                </div>
              </div>
            <br>
            <table class="table table-striped">
              <thead>
                  <th>ID</th>
                  <th>Razon social</th>
                  <th>Nombre fantasía</th>
                  <th>Estado</th>
                  <th>Fecha</th>
                  <th></th>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td>{{item.id}}</td>
                      <td>{{item.proveedor.razon_social}}</td>
                      <td>{{item.proveedor.nombre_fantacia}}</td>
                      <td>{{item.estado2}}</td>
                      <td>{{item.created_at  | date:'dd-MM-yyyy HH:MM:ss'}}</td>
                      <td><button type="button" class="btn btn-success" (click)=ver(item)>Ver</button></td>
                  </tr>
              </tbody>
            </table>
            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                <div class="btn-group">
                  <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                </div>
                <div class="btn-group pull-right">
                  <ul class="pagination" >
                      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a>
                      </li>
                        <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                        </li>
                      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                  </ul>
                </div>
            </div>
              
            </div>
            <div class="row" *ngIf="verDatos">
              <div class="col-lg-1">
                
              </div>
              <div id="exportable" class="col-lg-10">
                <div class="row">
                  <div class="col-sm-3">
                    <img src="http://www.tecprecincsrl.com.ar/e/wp-content/uploads/2018/02/logo.png" style="width: 210px;">
                  </div>
                  <div class="col-sm-7" style="text-align: right;">
                    Compra: <strong>Nº {{enviado.id}}</strong><br>
                    Fecha: <strong>{{enviado.created_at | date:'dd-MM-yyyy'}}</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12" style="text-align: center">
                    <h4>ORDEN DE COMPRA</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label>Proveedor:</label><strong> {{enviado.proveedor.razon_social}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Nombre fantasía:</label><strong> {{enviado.proveedor.nombre_fantacia}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Cuit:</label><strong> {{enviado.proveedor.cuit}}</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label>Teléfono:</label><strong> {{enviado.proveedor.telefono}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Email:</label><strong> {{enviado.proveedor.email}}</strong>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <strong>Nota: </strong>{{enviado.nota}}<br>
                    <br>
                    <table class="table table-bordered">
                      <thead>
                        <th>Cantidad</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <!--th>Factura</th-->
                        <th>Agregar</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let it of enviado.productos">
                            <td>{{it.cantidad}}</td>
                            <td>{{it.nombre}}</td>
                            <td>{{it.precio}}</td>
                            <!--td><div *ngIf="enviado.estado!=2"><input type="" name="" *ngIf="it.entregado==0" [(ngModel)]="it.factura"></div><p *ngIf="it.entregado!=0">{{it.factura}}</p></td>
                            <td><div *ngIf="enviado.estado!=2"--> <!--button type="button" class="btn btn-success" *ngIf="it.entregado==0" (click)="addInventario(it.id,it.cantidad,enviado.id,enviado)">Cargar al inventario</button-->
                            <td>
                              <button type="button" class="btn btn-success" (click)="largeModal1.show();cargar(it,it.id,it.cantidad,enviado.id,enviado)">Cargar al inventario</button>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <strong>Observaciones:</strong>
                        {{enviado.observaciones}}
                    </div>
                  </div>
                </div> 
                <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <strong>Observaciones de recepción:</strong>
                    <textarea class="form-control" rows="5" cols="150" [(ngModel)]="obs_recepcion"></textarea>
                  </div>
                </div>
              </div>
                <br>
                <div class="row">
                  <div class="col-lg-12" style="text-align:center" *ngIf="enviado.estado!=2">
                    <button type="button" class="btn btn-primary" (click)="finalizar(enviado)">Finalizar orden de compra</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-1">
                
              </div>
            </div>
          </tab>
        </tabset>

        <div bsModal #largeModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Cargar producto</h4>
                <button type="button" class="close" (click)="largeModal1.hide();ocultar()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <div class="row">
                  <div class="col-lg-12">
                   <br>
                    <table class="table table-bordered">
                      <thead>
                        <th>Cantidad solicitada</th>
                        <th>Cantidad a ingresar</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Remito</th>
                        <th>Factura</th>
                        <th>Agregar</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let it of aCargar">
                            <td style="width: 35px;">{{it.cantidad}}</td>
                            <td><input style="width: 35px;" type="" name=""  [(ngModel)]="it.cantidadAgregar" (blur)="dispara(it.cantidad,it.cantidadAgregar)"></td>
                            <td>{{it.nombre}}</td>
                            <td><input style="width: 55px;" type="" name=""  [(ngModel)]="it.precio"></td>
                            <td><input style="width: 55px;" type="" name=""  [(ngModel)]="it.remito"></td>
                            <td><input style="width: 55px;" type="" name=""  [(ngModel)]="it.factura"></td>
                            <td><div> 
                              <button  type="button" class="btn btn-success" (click)="cargarIngreso(it,it.id,it.cantidad,enviado.id,enviado)" *ngIf="showCargar">Ingresar al inventario</button>
                            </div></td>
                          </tr>
                      </tbody>
                    </table>
                    <br><hr><br>
                    <strong>Ingresos</strong>
                    <table class="table table-bordered">
                      <thead>
                        <th>Cantidad solicitada</th>
                        <th>Cantidad ingresó</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Remito</th>
                        <th>Factura</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let it of ingresos">
                            <td style="width: 35px;">{{it.cantidad}}</td>
                            <td>{{it.cantidadAgregar}}</td>
                            <td>{{it.nombre}}</td>
                            <td>{{it.precio}}</td>
                            <td>{{it.remito}}</td>
                            <td>{{it.factura}}</td>
                            
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div style="text-align:right">
                  <button type="button" class="btn btn-secondary" (click)="largeModal1.hide();ocultar()">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>