<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <img src="../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
      <div class="card" *ngIf="!verDatos">
        
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de centroCostoes
          <div style="text-align:right">
            <button type="button" class="btn btn-success" (click)="ver(0)">Agregar un contrato</button>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group form-black label-floating is-empty">
               <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
              <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
               <br>
          </div>
          <table class="table table-striped">
            <thead>
              <th>id</th>
              <th>Nombre</th>
              <th>Cliente</th>
              <th>Vigencia</th>
              <th>Fecha alta</th>
              <th></th>
            </thead>
            <tbody>
               <tr *ngFor="let item of items">
                  
                  <td>{{item.id}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.cliente}}</td>
                  <td>{{item.vigencia}}</td>
                  <td>{{item.created_at}}</td>
                  <td><button type="button" class="btn btn-secondary" (click)=ver(item)>Ver</button></td>
               </tr>
            </tbody>
          </table>
            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
              <div class="btn-group">
                 <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
              </div>
              <div class="btn-group pull-right">
                 <ul class="pagination" >
                    <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                       <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                       </li>
                    <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                 </ul>
              </div>
            </div>
        </div>
      </div>

      <div style="width: 100%">
        <alert type="success" *ngIf="success" style="position: fixed;width: calc(100% - 262px);z-index: 99;top: 65px;text-align: center;">
          <strong>Exito</strong> 
        </alert>
        <alert type="danger" *ngIf="fail" style="position: fixed;width: calc(100% - 262px);z-index: 99;top: 65px;text-align: center;">
          <strong>Ha ocurrido un Error!</strong> 
        </alert>
      </div>

      <div class="card" *ngIf="verDatos">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Información del contrato
          <div style="text-align: right;">
            <button type="button" class="btn btn-success" (click)=volver()>Volver</button> 
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="codigo" placeholder="" [(ngModel)]="centroCosto.nombre">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="ccnumber">Cliente</label>
                    <input type="text" class="form-control" id="descripcion" placeholder="" [(ngModel)]="centroCosto.cliente">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="ccnumber">Vigencia</label>
                    <ng-datepicker [(ngModel)]="centroCosto.vigencia" [position]="'top-left'" [options]="options" style="z-index: 999; width: 100%;"> </ng-datepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <label class="label" for="select">Centro de costos</label>
                    <select id="centroCostos" name="centroCostos" class="form-control" [(ngModel)]="centroCosto.centro_costos_id">
                      <option *ngFor="let cc of cc" [value]="cc.id">{{cc.descripcion}}</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>  
          
          <div style="text-align: center">
            <button type="button" class="btn btn-success" (click)=editar() *ngIf="!crear">Editar productos del centro costo</button> 
            <button type="button" class="btn btn-success" (click)=crearcentroCosto() *ngIf="crear">Crear centroCosto</button> 
          </div>
        </div>
    </div>
    

    </div>
  </div>
</div>