

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Transferencia</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-transferencia [producto]="aTransferir" *ngIf="showTransferencia"></app-transferencia>
        <div style="text-align:right">
        	<button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Cerrar</button>
        </div>
        
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #largeModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Picking</h4>
        <button type="button" class="close" (click)="largeModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-picking [producto]="aPicking" [informacion]="informacion" *ngIf="showPicking"></app-picking>
        <div style="text-align:right">
        	<button type="button" class="btn btn-secondary" (click)="largeModal2.hide()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="prin" [hidden]="true">
	<div class="row">
	<div class="col-lg-12">
      	<div class="row">
      		<div class="col-lg-12">
      			<div class="">
      				
	      			<div class="row">
	      				<div class="col-sm-12" style="border:2px solid; display: flex; justify-content: left; align-items: center;">
							<img src="https://www.tecprecincsrl.com.ar/e/logoi.jpg" style="height: 60px;">

	      					<h4 style="padding-left: 90px;">Solicitud Nº {{informacion.id}}</h4>

	      				</div>
      				</div>
      				
      				<div class="row" style="border:2px solid;margin-top: 5px;">
      					<div class="col-lg-12">
      						<div class="row">
								<div class="col-12">
									<strong>Departamento: </strong>{{informacion.usuario.departamento.nombre}}
								</div>
	      						
	      					</div>
	      					<div class="row">
								<div class="col-6">
									<strong>Fecha de creación: </strong>{{informacion.created_at | date :  "dd-MM-yyyy"}}
								</div>	
								<div class="col-6">
									<strong>Fecha de aprobación: </strong>{{fechaaprobacion | date :  "dd-MM-yyyy"}}
								</div>	
		      					
			      				
			      				
		      				</div>
		      				<div class="row">
								<div class="col-6">
									<strong>Solicitante: </strong>{{informacion.usuario.nombre}} {{informacion.usuario.apellido}}
								</div>
			      				<div class="col-6">
									<strong>Autorizante: </strong>{{autorizante}}
			      				</div>
			      				
		      				</div>
		      				<div class="row">
		      					<div class="col-6">
		      						<strong>Centro de Costos: </strong> {{informacion.centro_costos_id}}
			      				</div>
			      				<div class="col-6">
									<strong>Base operativa: </strong>
			      				</div>
			      			
		      				</div>
		      			</div>
		      			<!--div class="col-lg-4" style="border-left: 2px #000000">
		      				<div class="row">
		      					<div class="col-sm-12">
		      						<strong>Firma del solicitante: </strong>
			      				</div>
		      				</div>
		      				<div class="row">
		      					<div class="col-sm-12">
		      						<strong>Aclaración y firma del autorizante: </strong>
			      				</div>
		      				</div>
		      			</div-->
      				</div>
      			</div>
      		</div>	
      	</div>
  
      	<div class="row" style="margin-top: 5px;">
      		<div class="col-lg-12">
      			<div class="">
      				<div class="row">
      					<table class="table table-bordered table-striped table-sm" style="border:2px solid #000000 !important;font-size: 12px">
				            <thead>
				              <tr>
								<th style="text-align: center;border: 2px solid black;">Items</th>
				              	<th style="text-align: center;border: 2px solid black;">Código</th>
				                <th style="text-align: center;border: 2px solid black;">Tipo de Insumos</th>
								<th style="text-align: center;border: 2px solid black;">Solicitados</th>
				                <!--th>Precio UNT</th>
				                <th>Total</th-->
				              </tr>
				            </thead>
				            <tbody>
				              <tr *ngFor="let item of informacion.solicitud; let i=index">
								<td style="text-align: center;border: 2px solid black;">{{i+1}}</td>
				              	<td style="border: 2px solid black;">{{item.codigo}}</td>
				                <td style="border: 2px solid black;">{{item.nombre}}</td>
								<td style="border: 2px solid black;">{{item.pivot.cantidad}}</td>
				                <!--td>{{item.precio}}</td>
				                <td>{{item.totales}}</td-->
				              </tr>
				            </tbody>
				          </table>
      				</div>
      				
      			</div>
      		</div>	
      	</div>
		<div class="row" style="border:2px solid;margin-top: -10px;">
  					
			<div class="row col-lg-12" style="height: 24px;padding-left:30px">
				
					
					<p><strong>Departamento de Compras: </strong>{{autorizante}}({{informacion.departamento.nombre}})</p>
				
			</div>
		</div>
      	<div class="row"  style="margin-top: 5px;">
      		<div class="col-lg-12">
      			<div class="row" style="border:2px solid;">
  					
      				<div class="row col-lg-12">
      					<div class="col-sm-6">
      						<strong>Observaciones: </strong>
      						<p>{{informacion.observaciones}}</p>
      						<br><br><br>
	      				</div>
	      				<div class="col-sm-2">
	      				</div>
	      				<div class="col-sm-4">
	      				</div>
      				</div>
  				</div>
				<div class="row" style="border:2px solid; margin-top: 5px;">
  					
					<div class="row col-lg-12">
						<div style="margin-left: 20px;">
							
							<p style="text-align: justify;"><strong>Importante: </strong>En base al cambio climático y su paso acelerado en los últimos tiempos, sabiendo además que desde nuestro sector, algunos productos pueden ser
							generadores de residuos, que en varios casos puntuales y si no se manejan con el debido cuidado y segura disposición, pueden llegar a ser nocivos
							para el medio ambiente. Por ello se recomienda tener en cuenta, al momento de manipular y estibar los mismo, ubicarlos en un lugar específico, señalizado
							debidamente, con pequeña leyenda que detalle su toxicidad. También suministrar al personal, la indumentaria y epp's adecuados para tal manipulación
							de productos de este tipo.
							</p>
							
						</div>
						
					</div>
				</div>
      		</div>
      	</div>
    </div>	
</div>
</div>
<div class="row">
	<div class="col-lg-12">
      	<div class="row">
      		<div class="col-lg-12">
      			<div class="">
      				<div class="row">
      					<div class="col-lg-4">
	      					<strong>Nº Solicitud: </strong>{{informacion.id}}
	      				</div>
      				</div>
      				<br>
      				<div class="row">
      					
      					<div class="col-lg-4">
	      					<strong>Departamento: </strong>{{informacion.usuario.departamento.nombre}} <p style="font-weight: bold" [hidden]="informacion.centro_costos_id!=45"> PEDIDO PARA STOCK</p>
	      				</div>
	      				<div class="col-lg-4">
	      					<strong>Nombre: </strong>{{informacion.usuario.nombre}} {{informacion.usuario.apellido}}
	      				</div>
	      				<div class="col-lg-4">
	      					<strong>Fecha de alta: </strong>{{informacion.created_at | date :  "dd-MM-yyyy"}}
	      				</div>
      				</div>
      			</div>
      		</div>	
      	</div>
      	<br>
      	<div class="row">
      		<div class="col-lg-12">
      			<div class="">
      				<div class="row">
      					<table class="table table-bordered table-striped table-sm">
				            <thead>
				              <tr>
								<th>Items</th>
				                <th>Cantidad</th>
								<th>Código</th>
				                <th>Nombre</th>
				                <!--th>Centro de costos</th-->
				                <th *ngIf="informacion.estado!=0">Status</th>
				                <th *ngIf="informacion.estado==1">Acción</th>
				                <th *ngIf="informacion.estado==2">Centro de costos</th>
				                <th *ngIf="informacion.estado==0">Quitar</th>
				              </tr>
				            </thead>
				            <tbody>
							  <tr *ngFor="let item of informacion.solicitud; let i=index">
								
				                <td *ngIf="informacion.estado!=0">{{item.pivot.cantidad}}</td>
								<td>{{item.codigo}}</td>
				                <td *ngIf="informacion.estado==0"> <input [(ngModel)]="item.pivot.cantidad"> </td>
				                <td>{{item.nombre}}</td>
				                <!--td>{{item.pivot.nombre_centro_costo}}</td-->
				                <td *ngIf="informacion.estado!=0">
				                  <span [ngClass]="['badge', 'badge-success']" *ngIf="item.pivot.aprobado">Aprobado</span>
				                  <span [ngClass]="['badge', 'badge-success']" *ngIf="item.pivot.entregado">Entregado</span>
				                  <span [ngClass]="['badge', ' badge-danger']" *ngIf="item.pivot.cancelado">Cancelado</span>
				                  <span [ngClass]="['badge', ' badge-secondary']" *ngIf="item.pivot.devuelto">Devuelto</span>
				                  <span [ngClass]="['', ' badge-warning']" *ngIf="!item.pivot.aprobado && !item.pivot.entregado && !item.pivot.cancelado && !item.pivot.devuelto">Pendiente</span>
				                </td>
				                <td *ngIf="informacion.estado==1">
				                	
				                	<div *ngIf="informacion.estado==1">
					                	<div *ngIf="item.pivot.aprobado">
					                		<!--button type="button" class="btn btn-outline-secondary btn-sm" (click)=devolver(item)>Devolver</button-->
					                	</div>
					                	<div *ngIf="item.pivot.entregado">
					                		<!--button type="button" class="btn btn-outline-secondary btn-sm" (click)=devolver(item)>Devolver</button-->
					                	</div>
					                	<div *ngIf="item.pivot.cancelado">
					                		
					                	</div>
					                	<div *ngIf="item.pivot.devuelto">
					                		
					                	</div>
					                	<button type="button" class="btn btn-outline-primary btn-sm" (click)="verremito(item)" *ngIf="item.pivot.entregado">Ver remito</button>

					                	<div *ngIf="!item.pivot.aprobado && !item.pivot.entregado && !item.pivot.cancelado && !item.pivot.devuelto">
						                	<div >
						                		<div [hidden]="item.stock2==0 && item.stock==0">
						                			<button type="button" class="btn btn-outline-success btn-sm" (click)="selectPicking(item);largeModal2.show()"  >Picking1</button> 
						                		</div>
						                		
						                		<button type="button" class="btn btn-outline-primary btn-sm" (click)="verremito(item);" *ngIf="item.pivot.entregado">Ver remito</button>

							            
							                	<button type="button" class="btn btn-outline-info btn-sm"  [routerLink]="['/compras/compra']">Pedir a proveedor</button>
							                	<!--button type="button" class="btn btn-outline-danger btn-sm" (click)=cancelar(item)>Cancelar</button-->
						                	</div>
						                	<!--div *ngIf="(item.stock-item.pivot.cantidad)<0 || (item.stock2-item.pivot.cantidad)<0">
							                	<button type="button" class="btn btn-outline-primary btn-sm"  [routerLink]="['/presupuestos/presupuesto']">Pedir Presupuesto</button>
							                	<button type="button" class="btn btn-outline-info btn-sm" (click)=pedirAProveedor(item) [routerLink]="['/compras/compra']">Pedir a proveedor</button>
							                	<button type="button" class="btn btn-outline-danger btn-sm" (click)=cancelar(item)>Cancelar</button>
						                	</div-->
					                	</div>
					                	
					               	</div>
				                </td>
				                <td *ngIf="informacion.estado==2">
			                        <select id="centroCostos" name="centroCostos" class="form-control" [(ngModel)]="item.pivot.centro_costos_id" (change)="ccc($event)">
			                          <option *ngFor="let cc of cc" [value]="cc.id">{{cc.codigo}} - {{cc.descripcion}}</option>
			                        </select>
			                    </td>
			                    <td *ngIf="informacion.estado==0">
			                        <button type="button" class="btn btn-danger"  (click)=quitar(item.id)>X</button>
			                    </td>
				              </tr>
				            </tbody>
				          </table>
				          <div class="row">
				          	<div class="col-lg-12">
				          		<label for="comment">Observaciones:</label>
				          		<div class="form-group" style="text-align: center">
								  <textarea class="form-control" rows="5" cols="190" [(ngModel)]="informacion.observaciones"></textarea><br>
								  <button type="button" class="btn btn-primary" [hidden]="informacion.estado==2" (click)=editar_observacion(informacion.id)>Guardar</button>
								  <button type="button" class="btn btn-primary" *ngIf="informacion.estado==2" (click)="editar_cc(informacion.id)">Guardar cambios en "Centro de costos"</button>
								</div>
					        </div>
				          </div>
      				</div>
      			</div>
      		</div>	
      	</div>
    </div>	
</div>

<div style="text-align:right">
	<button type="button" class="btn btn-outline-secondary btn-sm" (click)=print()><i class="fa fa-print">Imprimir Solicitud</i></button>
</div>
<!--div style="text-align:right" *ngIf="informacion.estado!=0">
	<button type="button" class="btn btn-outline-secondary btn-sm" (click)=print2()><i class="fa fa-print">Imprimir Remito</i></button>
</div-->

<div id="prin2" *ngIf="print2if">
<!--div id="prin2" *ngIf="true"-->
	<div class="row">
		<div class="col-lg-12">
	      	<div class="row">
	      		<div class="col-lg-12">
	      			<div class="">
						<div class="row">
							<div class="col-sm-12" style="border:2px solid; display: flex; justify-content: left; align-items: center;">
							  <img src="https://www.tecprecincsrl.com.ar/e/logoi.jpg" style="height: 60px;">
  
								<h4 style="padding-left: 90px;">Remito Nº {{remito.id}}</h4>
  
							</div>
						</div>
	      				
						<div class="row" style="border:2px solid;margin-top: 5px;">
							<div class="col-lg-12">
								<div class="row">
								  <div class="col-12">
									  <strong>Departamento: </strong>{{informacion.usuario.departamento.nombre}}
								  </div>
									
								</div>
								<div class="row">
								  <div class="col-6">
									  <strong>Fecha de creación: </strong>{{informacion.created_at | date :  "dd-MM-yyyy"}}
								  </div>	
								  <div class="col-6">
									  <strong>Fecha de aprobación: </strong>{{remito.created_at | date :  "dd-MM-yyyy"}}
								  </div>	
									
									
									
								</div>
								<div class="row">
								  <div class="col-6">
									  <strong>Solicitante: </strong>{{informacion.usuario.nombre}} {{informacion.usuario.apellido}}
								  </div>
									<div class="col-6">
									  <strong>Autorizante: </strong>{{informacion.autorizante.nombre}} {{informacion.autorizante.apellido}}
									</div>
									
								</div>
								<div class="row">
									<div class="col-6">
										<strong>Solicitud Nº: </strong> {{informacion.id}}
									</div>
									<div class="col-6">
										<strong>Centro de Costos: </strong> {{informacion.centro_costos_id}}
									</div>
								
								</div>
							</div>
							
						</div>
	      				
	      			</div>
	      		</div>	
	      	</div>
	      	<div class="row" style="margin-top: 5px;">
				<div class="col-lg-12">
					<div class="">
						<div class="row">
							
							<table class="table table-bordered table-striped table-sm" style="border:2px solid #000000 !important; font-size: 12px">
					            <thead>
					              <tr>
					              	<th style="text-align: center;border: 2px solid black;">Código</th>
					              	<th style="text-align: center;border: 2px solid black;">Nombre</th>
					                <th style="text-align: center;border: 2px solid black;">Cantidad</th>
					                
					                
					              </tr>
					            </thead>
					            <tbody>
					              <tr *ngFor="let item of Aitem">
					              	<td style="text-align: center;border: 2px solid black;" *ngIf="item.pivot.entregado==1">{{item.codigo}}</td>
					              	<td style="text-align: center;border: 2px solid black;" *ngIf="item.pivot.entregado==1">{{item.nombre}}</td>
					                <td style="text-align: center;border: 2px solid black;" *ngIf="item.pivot.entregado==1">{{item.pivot.cantidad}}</td>
					                
					                
					              </tr>
					            </tbody>
					          </table>
						</div>
						<div class="row" style="margin-top: -11px;border: 2px solid black; height: 28px;">
							<p style="margin-left: 15px;"><strong>Fecha Entrega:</strong> {{remito.created_at | date :  "dd-MM-yyyy"}} / <strong>Entregó:</strong> {{informacion.autorizante.nombre}} {{informacion.autorizante.apellido}} / <strong> Base Operativa:</strong> Plaza Huincil</p>
						</div>
					</div>
				</div>	
			</div>

			<div class="row"  style="margin-top: 5px;">
				<div class="col-lg-12">
					<div class="row" style="border:2px solid;">
						
						<div class="row col-lg-12">
							<div class="col-sm-6">
								<strong>Observaciones: </strong>
								<p>{{informacion.observaciones}}</p>
								<br><br>
							</div>
							<div class="col-sm-2">
							</div>
							<div class="col-sm-4">
							</div>
						</div>
					</div>

					<div class="row">
						<br><br><br><br><br>
						<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;margin-left: 18%; margin-right: 18%;">
							<div style="width: 150px; display: flex;flex-direction: column;border-top: 2px solid black; justify-content: center; align-items: center;">
								<p>Entregó</p>
								<p style="margin-top: -19px;">Firma y Aclaración</p>
							</div>
							<div style="width: 150px; display: flex;flex-direction: column;border-top: 2px solid black; justify-content: center; align-items: center;">
								<p>Retiró</p>
								<p style="margin-top: -19px;">Firma y Retiró</p>
							</div>
						</div>
					</div>

					<div class="row" style="border:2px solid; margin-top: 5px;">
							
						<div class="row col-lg-12">
							<div style="margin-left: 20px;">
								
								<p style="text-align: justify;"><strong>Importante: </strong>En base al cambio climático y su paso acelerado en los últimos tiempos, sabiendo además que desde nuestro sector, algunos productos pueden ser
								generadores de residuos, que en varios casos puntuales y si no se manejan con el debido cuidado y segura disposición, pueden llegar a ser nocivos
								para el medio ambiente. Por ello se recomienda tener en cuenta, al momento de manipular y estibar los mismo, ubicarlos en un lugar específico, señalizado
								debidamente, con pequeña leyenda que detalle su toxicidad. También suministrar al personal, la indumentaria y epp's adecuados para tal manipulación
								de productos de este tipo.
								</p>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
	      	
	    </div>	
	</div>
</div>