<div class="row">
	<div class="col-lg-12">
		<br>
      	<strong>Producto:</strong> {{producto.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--input type="" name="" (ngModelChange)="doSomething($event)" [ngModel]="producto.nombre"-->
      	<br><br>
        <strong>Empleado a entregar:</strong>
        <select id="empleados" name="empleados" class="form-control" [(ngModel)]="empleado_id">
          <option *ngFor="let cc of empleados" [value]="cc.id">{{cc.nombre}} {{cc.apellido}} - {{cc.nombreRol}}</option>
        </select>
        <br>
        <strong>Cantidad solicitada:</strong>{{cantidadSolicitada}} <a style="font-weight: bold; font-size: 18px"></a><!--br><strong>Cantidad a entregar:</strong></a-->
        <br>
      	<table class="table table-striped">
        	<thead>
        		<th>Almacén</th>
        		<th>En stock</th>
            <th>A entregar</th>
            <th></th>
        	</thead>
        	<tbody>
           		<tr>
           			<td *ngIf="showP1">Principal</td>
                <td [ngStyle]="{'background-color':producto.stock > producto.pivot.cantidad ? '#4dbd74' : '#f44336' }" *ngIf="showP1">
                  <a style="font-weight: bold;" *ngIf="showP1">{{producto.stock}}</a>
                </td>
                <td *ngIf="showP1"><input [(ngModel)]="cantEntregar1" (blur)=checkCantidadPicking1(producto,cantEntregar1)></td>
              	<td style="text-align:right" *ngIf="showP1">
                  <!--div *ngIf="producto.stock >= producto.pivot.cantidad">
                    <button type="button" class="btn btn-success" (click)=picking(producto,1) *ngIf="showP1">Entregar
                    </button>
                  </div>
                  <div *ngIf="producto.stock < producto.pivot.cantidad">
                    <button type="button" class="btn btn-success" (click)=picking3(producto,2) *ngIf="showP1">Entrega {{producto.stock}} desde el almacen principal
                    </button><br>
                    <button type="button" class="btn btn-success" (click)=picking2(producto,1,producto.stock) *ngIf="showP1">Entregar {{producto.stock}} unidades de {{producto.pivot.cantidad}} solicitadas y generar una nueva solicitud.
                    </button>

                  </div-->
                  <button type="button" class="btn btn-success" (click)=pickingEntrega(producto,cantEntregar1,1) *ngIf="showP1">Entregar</button>
                </td>

           		</tr> 
              <tr>
                <td *ngIf="showP2">Secundario</td>
                <td [ngStyle]="{'background-color':producto.stock2 > producto.pivot.cantidad ? '#4dbd74' : '#f44336' }" *ngIf="showP2">{{producto.stock2}}</td>
                <td *ngIf="showP2"><input [(ngModel)]="cantEntregar2" (blur)=checkCantidadPicking2(producto,cantEntregar2) *ngIf="showP2"></td>
                <td style="text-align:right" *ngIf="showP2">
                  <!--div *ngIf="producto.stock2 >= producto.pivot.cantidad">
                    <button type="button" class="btn btn-success" (click)=picking(producto,2) *ngIf="showP2">Entregar
                    </button>
                  </div>
                  <div *ngIf="producto.stock2 < producto.pivot.cantidad">
                    <button type="button" class="btn btn-success" (click)=picking3(producto,2) *ngIf="showP2">Entrega {{producto.stock2}} desde el almacen secundario
                    </button><br>
                    <button type="button" class="btn btn-success" (click)=picking2(producto,2,producto.stock2) *ngIf="showP2">Entregar {{producto.stock2}} unidades de {{producto.pivot.cantidad}} solicitadas y generar una nueva solicitud.
                    </button>
                    
                  </div-->
                  <button type="button" class="btn btn-success" (click)=pickingEntrega(producto,cantEntregar2,2) *ngIf="showP2">Entregar</button>
                </td>
              </tr>
        	</tbody>
      	</table>

        <br>
        <strong>Lo que se va a entregar: {{numEntregar}} productos</strong>
        <br>

        <table class="table table-striped">
          <thead>
            <th>Cantidad</th>
            <th>Producto</th>
            <th>Almacén</th>
          </thead>
          <tbody>
              <tr *ngFor="let item of itemEntregar">
                <td>{{item.cantidad}}</td>
                <td>{{item.item.nombre}}</td>
                <td>{{item.almacen}}</td>
              </tr>
          </tbody>
        </table>
        <div>
          <strong>Observación:</strong> <input type="text" style="width: 100%" [(ngModel)]="producto.observacion">
        </div><br>
        <h4>Se entregará: {{numEntregar}} de {{cantidadSolicitada2}} productos</h4>
        <br>
        
        <div class="row" *ngIf="numEntregar!=0">
          <div style="text-align: center" class="col-sm-12" *ngIf="entregado">
            <div>
              <button type="button" class="btn btn-success" (click)=entrega()>Entregar</button>
            </div><br>
            <div style="text-align: center" *ngIf="numEntregar<cantidadSolicitada2">
                <button type="button" class="btn btn-success" (click)=entregaygenera()>Entregar y generar nueva solicitud</button>
            </div>
          </div>
        </div>
        
    </div>	
</div>