<div class="row">
	<div class="col-lg-12">
		<br>
      	 <strong>Cantidad solicitada:</strong> {{producto.pivot.cantidad}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Producto:</strong> {{producto.nombre}}
      	<br><br>
        <strong>Empleado a entregar:</strong>
        <select id="empleados" name="empleados" class="form-control" [(ngModel)]="empleado_id">
          <option *ngFor="let cc of empleados" [value]="cc.id">{{cc.nombre}} {{cc.apellido}} - {{cc.nombreRol}}</option>
        </select>
        <br>
      	<table class="table table-striped">
        	<thead>
        		<th>Almacén</th>
        		<th>En stock</th>
            <th></th>
        	</thead>
        	<tbody>
           		<tr>
           			<td>Principal</td>
                <td>{{producto.stock}}</td>
              	<td style="text-align:right"><button type="button" class="btn btn-success" (click)=picking(producto,1) *ngIf="showP1">Picking</button></td>
           		</tr> 
              <tr>
                <td>Secundario</td>
                <td>{{producto.stock2}}</td>
                <td style="text-align:right"><button type="button" class="btn btn-success" (click)=picking(producto,2) *ngIf="showP2">Picking</button></td>
              </tr>
        	</tbody>
      	</table>
    </div>	
</div>