<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <img src="../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
      <div>
        <div *ngIf="!verDatos">
          <div style="text-align:right">
            <button type="button" class="btn btn-success" (click)="ver(0)">Agregar un usuario</button>
          </div>
          <div class="form-group form-black label-floating is-empty">
               <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
              <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
               <br>
          </div>
          <table class="table table-striped">
            <thead>
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Departamento</th>
              <th></th>
            </thead>
            <tbody>
               <tr *ngFor="let item of items">
                  <td>{{item.nombre}} {{item.apellido}}</td>
                  <td>{{item.telefono}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.nombreRol}}</td>
                  <td>{{item.departamentos[0].nombre}}</td>
                  <td><button type="button" class="btn btn-secondary" (click)=ver(item)>Ver</button></td>
               </tr>
            </tbody>
          </table>
            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
              <div class="btn-group">
                 <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
              </div>
              <div class="btn-group pull-right">
                 <ul class="pagination" >
                    <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                       <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                       </li>
                    <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                 </ul>
              </div>
            </div>
        </div>
      </div>

      <div style="width: 100%">
        <alert type="success" *ngIf="success" style="position: fixed;width: calc(100% - 262px);z-index: 99;top: 65px;text-align: center;">
          <strong>Exito</strong> 
        </alert>
        <alert type="danger" *ngIf="fail" style="position: fixed;width: calc(100% - 262px);z-index: 99;top: 65px;text-align: center;">
          <strong>Ha ocurrido un Error!</strong> 
        </alert>
      </div>

      <div class="card" *ngIf="verDatos">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12" style="text-align: right;">
              <button type="button" class="btn btn-secondary" (click)=volver()>Volver</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="" [(ngModel)]="proveedor.nombre">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ccnumber">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="" [(ngModel)]="proveedor.apellido">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Usuario</label>
                    <input type="text" class="form-control" id="Usuario" placeholder="" [(ngModel)]="proveedor.user">
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="proveedor.id==0">
                  <div class="form-group">
                    <label for="ccnumber">Contraseña</label>
                    <input type="text" class="form-control" id="password" placeholder="" [(ngModel)]="proveedor.password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="ccnumber">Teléfonos</label>
                    <input type="text" class="form-control" id="telefono" placeholder="" [(ngModel)]="proveedor.telefono">
                   <!--  <button style="text-align:right" type="button" class="btn btn-outline-success">+</button> -->
                  </div>
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ccnumber">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="" [(ngModel)]="proveedor.email">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-sm-12">
                  <strong>Rol del usuario</strong>
                  <select class="form-control" id="rol" name="rol" class="form-control" [(ngModel)]="proveedor.rol">
                    <option [value]="2">EMPLEADO</option>
                    <option [value]="0">ADMIN</option>
                    <option [value]="1">SUPERVISOR</option>
                  </select>
                  <br><br><br>
                  <strong>Departamento al que pertenece</strong>
                  <select id="departamento_id" name="departamento_id" class="form-control" [(ngModel)]="proveedor.departamento_id" >
                    <option *ngFor="let d of departamentos" [value]="d.id">{{d.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center">
            <button type="button" class="btn btn-success" (click)=editar() *ngIf="!crear">Editar </button> 
            <button type="button" class="btn btn-success" (click)=crearProveedor() *ngIf="crear">Crear usuario</button> 
          </div>
        </div>
    </div>
    
  </div>
</div>