<div class="row">
	<div class="col-lg-12">
      	<div class="row">
      		<div class="col-lg-12">
      			<div class="">
      				<div class="row">
      					<div class="col-lg-4">
	      					<strong>ID del departamento: </strong>{{informacion.id}}
	      				</div>
	      				<div class="col-lg-4">
	      					
	      				</div>
	      				<div class="col-lg-4" style="text-align: right">
	      					<button type="button" class="btn btn-success"  (click)=volver()>volver</button>
	      				</div>
      				</div>
      				
      				<div class="row">
      					<div class="col-lg-6">
	      					<div class="form-group">
				                <strong>Nombre: </strong>{{informacion.nombre}}
				            </div>
	      				</div>
	      				<div class="col-lg-6">
	      					<div class="form-group">
				                <strong>Código: </strong>{{informacion.codigo}}
				            </div>
	      				</div>
      				</div>
      			</div>
      		</div>	
      	</div>
      	

      <div class="form-group form-black label-floating is-empty">
                 <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
                <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                 <br>
              </div>
              <button type="button" class="btn btn-primary" style="float: right;" (click)="saveFile()">Exportar&nbsp;<i class="fa fa-file-excel-o"></i></button>
              <br>
              <div>
                <table class="table table-striped">
                  <thead>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Usuario</th>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of items">
                        <td>{{item.stock}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.usuario.nombre}}</td>
                     </tr>
                  </tbody>
                </table>
              
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                  <div class="btn-group">
                     <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                  </div>
                  <div class="btn-group pull-right">
                     <ul class="pagination" >
                        <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                           <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                              <a (click)="setPage(page)" >{{page}} </a>
                           </li>
                        <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                     </ul>
                  </div>
                </div>
              </div>
              <br>
              <div>
                <h4>Total por productos</h4>
                <table class="table table-striped">
                  <thead>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of general">
                        <td>{{item.totales}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.codigo}}</td>
                     </tr>
                  </tbody>
                </table>
              </div>
                

            <div id="exportable" [hidden]="true">
                
                <table class="table table-striped">
                  <thead>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of items">
                        <td>{{item.totales}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.codigo}}</td>
                     </tr>
                  </tbody>
                </table>

                <table class="table table-striped">
                  <thead>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of general">
                        <td>{{item.stock}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.codigo}}</td>
                     </tr>
                  </tbody>
                </table>
              </div>
                
    </div>	
</div>