<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
       
      <li class="divider"></li>
      <li class="nav-title">
        Menú
      </li>
      <li class="nav-item" *ngxPermissionsOnly="[0]">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <!-- <span class="badge badge-info">NEW</span> --></a>
      </li>
      <!-- <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Components</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Social Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/modals']"><i class="icon-puzzle"></i> Modals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
          </li>
        </ul>
      </li> --> <!-- --> 
      
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-layers"></i> Solicitudes</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0,1,2]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/pedido']"><i class="icon-note"></i> Crear</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/aprobar']"><i class="fa fa-check"></i> Por aprobar</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/entrantes']"><i class="icon-arrow-down-circle"></i> Entrantes</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/encurso']"><i class="icon-clock"></i> En curso</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/entregados']"><i class="icon-check"></i> Entregadas</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/cancelados']"><i class="icon-close"></i> Canceladas</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1,2]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/mis-pedidos']"><i class="icon-docs"></i> Mis solicitudes</a>
          </li> 
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/todos-pedidos']"><i class="icon-layers"></i> Todos las solicitudes</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-shuffle"></i> Transferencias</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/transferencias/transferencia']"><i class="icon-note"></i> Realizar Transferencia</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/transferencias/transferenciaspura']"><i class=" icon-action-redo"></i> Transferencias</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1,2]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/transferencias/devoluciones']"><i class="icon-action-undo"></i> Devoluciones</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1,2]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/transferencias/transferenciaspatrimonial']"><i class="icon-action-redo"></i> Transferir Bienes Patrimoniales</a>
          </li>
          
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-doc"></i> Presupuestos</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0,1,2]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos/presupuestos']"><i class="icon-note"></i> Crear un presupuesto</a>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngxPermissionsOnly="[0,1]">
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-database"></i> Inventarios</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/inventario/principal']"><i class="icon-list"></i> Stock principal</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/inventario/secundario']"><i class="fa fa-list"></i> Stock secundario</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/inventario/stockDepartamento']"><i class="fa fa-list"></i> Stock del departamento</a>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngxPermissionsOnly="[0,1]">
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-building-o"></i> Departamentos</a>
        <ul class="nav-dropdown-items">
          <!-- <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/principal']"><i class="icon-list"></i> Stock principal</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/secundario']"><i class="fa fa-list"></i> Stock secundario</a>
          </li> -->
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/compras']"><i class="fa fa-building"></i> Compras</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/administracion']"><i class="fa fa-building"></i> Administración</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/calidad']"><i class="fa fa-building"></i> Calidad</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/rrhh']"><i class="fa fa-building"></i> RRHH</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/ventas']"><i class="fa fa-building"></i> Ventas</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/catriel']"><i class="fa fa-building"></i> MTO. Catriel</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/rdls']"><i class="fa fa-building"></i> MTO. RDLS</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/ph']"><i class="fa fa-building"></i> MTO. PH</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0,1]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/departamentos/mantenimiento']"><i class="fa fa-building"></i> MTO. Vehicular</a>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngxPermissionsOnly="[0]">
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-drawer"></i> Productos</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos/stock']"><i class="icon-list"></i> Todos los productos</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos/uso']"><i class="icon-briefcase"></i> Bienes de uso</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos/consumo']"><i class="icon-chemistry"></i> Bienes de cosumo</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos/servicio']"><i class="icon-basket-loaded"></i> Servicios</a>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngxPermissionsOnly="[0]">
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-notebook"></i> Centro de costos/Contratos</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/cc/centroCostos']"><i class="fa fa-building-o"></i> Centro de costos</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/cc/contratos']"><i class="fa fa-file-word-o"></i> Contratos</a>
          </li>
        </ul>
      </li>
     <!-- <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Icons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Font Awesome<span class="badge badge-secondary">4.7</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li>  -->
       <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/widgets']"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Charts</a>
      </li>-->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/categorias']"><i class="icon-calculator"></i> Categorias</a>
      </li> -->
      
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngxPermissionsOnly="[0,1]">
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-file-excel-o"></i> Reportes</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reportes/inventario']"><i class="icon-list"></i> Inventario</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reportes/trazabilidad']"><i class="icon-list"></i> Trazabilidad</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reportes/departamentos']"><i class="icon-list"></i> Departamentos</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="[0]">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reportes/empleados']"><i class="icon-list"></i> Empleados</a>
          </li>
        </ul>
      </li>
      

      <li class="nav-item" *ngxPermissionsOnly="[0]">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/proveedores']"><i class="icon-wrench"></i> Proveedores</a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="[0]">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']"><i class="fa fa-user"></i> Usuarios</a>
      </li>
      
      <!--<li class="nav-item" *ngxPermissionsOnly="[0,1,2]">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/mensajes']"><i class="icon-bubbles"></i> Mensajes</a>
      </li>
      
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Components</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Social Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/modals']"><i class="icon-puzzle"></i> Modals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Icons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Font Awesome<span class="badge badge-secondary">4.7</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li -->

       <li class="divider"></li>
      <!-- <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="http://coreui.io/angular/"><i class="icon-cloud-download"></i> Download CoreUI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-danger" href="http://coreui.io/pro/angular/"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
      </li> -->


    </ul> 
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
