<div class="animated fadeIn">
  <img src="../../../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
  <div class="card" *ngIf="!loading">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Lista de presupuestos
    </div>
    <div class="card-body row" >
      <div class="col-lg-12">
        <tabset>
          <tab heading="Generado" >
            <br>
            <div style="text-align: right;" *ngIf="verDatos">
              <button type="button" class="btn btn-primary" (click)=saveFile()>Imprimir</button>
              <button type="button" class="btn btn-success" (click)=volver()>Volver</button>
            </div>
            <div *ngIf="!verDatos">
              <div class="row">

                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">s: </label>
                  <input matInput [matDatepicker]="inicio2" placeholder="Choose a date" [(ngModel)]="inicioD2">
                  <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
                  <mat-datepicker #inicio2></mat-datepicker>
                </div>
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Fin: </label>
                  <input matInput [matDatepicker]="fin2" placeholder="Choose a date" [(ngModel)]="finD2">
                  <mat-datepicker-toggle matSuffix [for]="fin2"></mat-datepicker-toggle>
                  <mat-datepicker #fin2></mat-datepicker>
                </div>
                <div class="col-sm-1" style="text-align: center"> 
                  <button type="button" class="btn btn-primary" (click)=buscar()>Buscar</button>
                </div>
              </div>
              <br>
              <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Razon social</th>
                    <th>Nombre fantasía</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td *ngIf="item.estado==0">{{item.id}}</td>
                        <td *ngIf="item.estado==0">{{item.proveedor.razon_social}}</td>
                        <td *ngIf="item.estado==0">{{item.proveedor.nombre_fantacia}}</td>
                        <td *ngIf="item.estado==0">{{item.estado2}}</td>
                        <td *ngIf="item.estado==0">{{item.created_at  | date:'dd-MM-yyyy HH:MM:ss'}}</td>
                        <td *ngIf="item.estado==0"><button type="button" class="btn btn-success" (click)=ver(item)>Ver</button></td>
                    </tr>
                </tbody>
              </table>
              <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                <div class="btn-group">
                  <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                </div>
                <div class="btn-group pull-right">
                  <ul class="pagination" >
                      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a>
                      </li>
                        <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                        </li>
                      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                  </ul>
                </div>
              </div>
            </div>
            
          </tab>
          
          <tab heading="Recibido">
            <div style="text-align: right;" *ngIf="verDatos">
              <button type="button" class="btn btn-primary" (click)=saveFile()>Imprimir</button>
              <button type="button" class="btn btn-success" (click)=volver()>Volver</button>
            </div>
            <div *ngIf="!verDatos">
              <div class="row">

                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Inicio: </label>
                  <input matInput [matDatepicker]="inicio2" placeholder="Choose a date" [(ngModel)]="inicioD2">
                  <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
                  <mat-datepicker #inicio2></mat-datepicker>
                </div>
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Fin: </label>
                  <input matInput [matDatepicker]="fin2" placeholder="Choose a date" [(ngModel)]="finD2">
                  <mat-datepicker-toggle matSuffix [for]="fin2"></mat-datepicker-toggle>
                  <mat-datepicker #fin2></mat-datepicker>
                </div>
                <div class="col-sm-1" style="text-align: center"> 
                  <button type="button" class="btn btn-primary" (click)=buscar()>Buscar</button>
                </div>
              </div>
              <br>
              <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Razon social</th>
                    <th>Nombre fantasía</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td *ngIf="item.estado==1">{{item.id}}</td>
                        <td *ngIf="item.estado==1">{{item.proveedor.razon_social}}</td>
                        <td *ngIf="item.estado==1">{{item.proveedor.nombre_fantacia}}</td>
                        <td *ngIf="item.estado==1">{{item.estado2}}</td>
                        <td *ngIf="item.estado==1">{{item.created_at  | date:'dd-MM-yyyy HH:MM:ss'}}</td>
                        <td *ngIf="item.estado==1"><button type="button" class="btn btn-success" (click)=ver(item)>Ver</button></td>
                    </tr>
                </tbody>
              </table>
              <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                <div class="btn-group">
                  <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                </div>
                <div class="btn-group pull-right">
                  <ul class="pagination" >
                      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a>
                      </li>
                        <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                        </li>
                      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Cancelado">
            <div style="text-align: right;" *ngIf="verDatos">
              <button type="button" class="btn btn-primary" (click)=saveFile()>Imprimir</button>
              <button type="button" class="btn btn-success" (click)=volver()>Volver</button>
            </div>
            <div *ngIf="!verDatos">
              <div class="row">

                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Inicio: </label>
                  <input matInput [matDatepicker]="inicio2" placeholder="Choose a date" [(ngModel)]="inicioD2">
                  <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
                  <mat-datepicker #inicio2></mat-datepicker>
                </div>
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Fin: </label>
                  <input matInput [matDatepicker]="fin2" placeholder="Choose a date" [(ngModel)]="finD2">
                  <mat-datepicker-toggle matSuffix [for]="fin2"></mat-datepicker-toggle>
                  <mat-datepicker #fin2></mat-datepicker>
                </div>
                <div class="col-sm-1" style="text-align: center"> 
                  <button type="button" class="btn btn-primary" (click)=buscar()>Buscar</button>
                </div>
              </div>
              <br>
              <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Razon social</th>
                    <th>Nombre fantasía</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td *ngIf="item.estado==2">{{item.id}}</td>
                        <td *ngIf="item.estado==2">{{item.proveedor.razon_social}}</td>
                        <td *ngIf="item.estado==2">{{item.proveedor.nombre_fantacia}}</td>
                        <td *ngIf="item.estado==2">{{item.estado2}}</td>
                        <td *ngIf="item.estado==2">{{item.created_at  | date:'dd-MM-yyyy HH:MM:ss'}}</td>
                        <td *ngIf="item.estado==2"><button type="button" class="btn btn-success" (click)=ver(item)>Ver</button></td>
                    </tr>
                </tbody>
              </table>
              <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                <div class="btn-group">
                  <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                </div>
                <div class="btn-group pull-right">
                  <ul class="pagination" >
                      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a>
                      </li>
                        <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                        </li>
                      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </tab>
          <div class="row" *ngIf="verDatos">
              <div class="col-lg-1">
                
              </div>
              <div class="col-lg-10">

                <div class="row">
                  <div class="col-sm-3">
                    <img src="http://www.tecprecincsrl.com.ar/e/wp-content/uploads/2018/02/logo.png" style="width: 210px;">
                  </div>
                  <div class="col-sm-7" style="text-align: right;">
                    Presupuesto: Nº <strong>{{enviado.id}}</strong><br>
                    Fecha: <strong>{{enviado.created_at | date:'dd-MM-yyyy'}}</strong>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-lg-12" style="text-align: center">
                    <h4>RECEPCION DE PRESUPUESTO</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label>Proveedor:</label><strong> {{enviado.proveedor.razon_social}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Nombre fantasía:</label><strong> {{enviado.proveedor.nombre_fantacia}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Cuit:</label><strong> {{enviado.proveedor.cuit}}</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label>Teléfono:</label><strong> {{enviado.proveedor.telefono}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Email:</label><strong> {{enviado.proveedor.email}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group" style="">
                      <label>Vigencia</label>
                      <!--ng-datepicker [(ngModel)]="enviado.vigencia" [position]="'top-left'" [options]="options" style="z-index: 999;width: 100%;"> </ng-datepicker-->
                      {{enviado.vigencia | date:'dd-MM-yyyy'}}
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <strong>Productos:</strong>
                    <br>
                    <table class="table table-bordered">
                      <thead>
                        <th>Cantidad</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio Unit.</th>
                        <th>Total</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let it of enviado.productos">
                            <td><input type="text" class="form-control" id="cantidad" placeholder="" [(ngModel)]="it.cantidad" (blur)="recalculo()"></td>
                            <td>{{it.codigo}}</td>
                            <td>{{it.nombre}}</td>
                            <td><input type="text" class="form-control" id="precio" placeholder="" [(ngModel)]="it.precio" (blur)="recalculo()"></td>
                            <td><!--input type="text" class="form-control" id="precio" placeholder="" [(ngModel)]="it.totales" -->{{it.totales}}</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="comment">Observaciones:</label>
                    <textarea class="form-control" rows="5" cols="150" [(ngModel)]="enviado.observaciones"></textarea>
                  </div>
                </div>
              </div>
                <br>
                <!--div class="row">
                  <div class="col-lg-12" style="text-align:center">
                    ___________________________
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12" style="text-align:center">
                    Firma
                  </div>
                </div-->
                <div class="row">
                  <div class="col-lg-12" style="text-align:center">
                    <button type="button" class="btn btn-primary" (click)=guardarCambios()><strong>Guardar Cambios</strong></button>
                  </div>
                </div><br><hr><br>
                <div class="row">
                  <div class="col-lg-6" style="text-align:right;">
                    <button type="button" class="btn btn-success" (click)=recibido()><strong>Recibido</strong></button>
                  </div>
                  <div class="col-lg-6" style="text-align:left;">
                    <button type="button" class="btn btn-danger" (click)=cancelar()><strong>Cancelar</strong></button>
                  </div>
                </div><br><br>
              </div>
              <div class="col-lg-1">
                
              </div>
            </div>
            <div class="row" [hidden]="true" id="exportable">
              <div class="col-lg-1">
                
              </div>
              <div class="col-lg-10">

                <div class="row">
                  <div class="col-sm-3">
                    <img src="http://www.tecprecincsrl.com.ar/e/wp-content/uploads/2018/02/logo.png" style="width: 210px;">
                  </div>
                  <div class="col-sm-7" style="text-align: right;">
                    Presupuesto: Nº <strong>{{enviado.id}}</strong><br>
                    Fecha: <strong>{{enviado.created_at | date:'dd-MM-yyyy'}}</strong>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-lg-12" style="text-align: center">
                    <h4>RECEPCION DE PRESUPUESTO</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label>Proveedor:</label><strong> {{enviado.proveedor.razon_social}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Nombre fantasía:</label><strong> {{enviado.proveedor.nombre_fantacia}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Cuit:</label><strong> {{enviado.proveedor.cuit}}</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label>Teléfono:</label><strong> {{enviado.proveedor.telefono}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <label>Email:</label><strong> {{enviado.proveedor.email}}</strong>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group" style="">
                      <label>Vigencia</label><strong> {{enviado.vigencia | date:'dd-MM-yyyy'}}</strong>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <strong>Productos:</strong>
                    <br>
                    <table class="table table-bordered">
                      <thead>
                        <th>Cantidad</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio Unit.</th>
                        <th>Total</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let it of enviado.productos">
                            <td>{{it.cantidad}}</td>
                            <td>{{it.codigo}}</td>
                            <td>{{it.nombre}}</td>
                            <td>{{it.precio | number : '1.2-2'}}</td>
                            <td>{{it.totales  | number : '1.2-2'}}</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="comment">Observaciones:</label>
                    {{enviado.observaciones}}
                  </div>
                </div>
              </div>
                <br>
                <div class="row">
                  <div class="col-lg-12" style="text-align:center">
                    ___________________________
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12" style="text-align:center">
                    Firma
                  </div>
                </div>
                
              </div>
              <div class="col-lg-1">
                
              </div>
            </div>
        </tabset>
      </div>
    </div>
  </div>
</div>