<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
      <div class="card" *ngIf="!loading">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Trazabilidad
          <div style="text-align:right">
            <!--button type="button" class="btn btn-success" (click)="ver(0)">Agregar un producto</button-->
          </div>
        </div>
        <div class="card-body" *ngIf="verProduc">
          <app-infotra [informacion]="producSelec" *ngIf="verProduc"></app-infotra>
        </div>
        <div class="card-body" *ngIf="!verProduc">
          <tabset>
            <tab heading="Trazas">
              
              <div class="row">
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Inicio: </label>
                  <input matInput [matDatepicker]="inicio2" placeholder="Choose a date" [(ngModel)]="inicioD2">
                  <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
                  <mat-datepicker #inicio2></mat-datepicker>
                </div>
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Fin: </label>
                  <input matInput [matDatepicker]="fin2" placeholder="Choose a date" [(ngModel)]="finD2">
                  <mat-datepicker-toggle matSuffix [for]="fin2"></mat-datepicker-toggle>
                  <mat-datepicker #fin2></mat-datepicker>
                </div>
                <div class="col-sm-1" style="text-align: center"> 
                  <button type="button" class="btn btn-primary" (click)=buscar()>Buscar</button>
                </div>
              </div>
              <br><br><br>
              <div [hidden]="false">
                <div style="text-align: right;">
                  <button type="button" class="btn btn-primary" (click)=saveFile()>Exportar</button>
                </div>
                <div id="exportable">
                  <table class="table table-striped" >
                    <thead>
                      <th>ID</th>
                      <th>Cantidad</th>
                      <th>Nombre</th>
                      <th>Dto. Emisor</th>
                      <th>Usuario emisor</th>
                      <th>Dto. Receptor</th>
                      <th>Usuario receptor</th>
                      <th>Tipo</th>
                      <th>Fecha</th>
                    </thead>
                    <tbody>
                       <tr *ngFor="let item of trazas">
                          <td>{{item.operacion_id}}</td>
                          <td>{{item.cantidad}}</td>
                          <td>{{item.stock.nombre}}</td>
                          <td>{{item.departamento_emisor.nombre}}</td>
                          <td>{{item.usuario_emisor.nombre}}</td>
                          <td>{{item.departamento_receptor.nombre}}</td>
                          <td>{{item.usuario_receptor.nombre}}</td>
                          <td>{{item.tipo}}</td>
                          <th>{{item.created_at  | date:'dd-MM-yyyy HH:MM:ss'}}</th>
                       </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </tab>
            <tab heading="Stock">
              
              <div class="form-group form-black label-floating is-empty">
                 <label class="labels" style="font-size: 18px; font-weight: bold">Filtrar: </label>
                <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                 <br>
              </div>
              <table class="table table-striped">
                <thead>
                  <th>Nombre</th>
                  <th>Stock principal</th>
                  <th>Stock secundario</th>
                  <th>Precio</th>
                  <th>Código</th>
                  <th></th>
                </thead>
                <tbody>
                   <tr *ngFor="let item of items">
                      
                      <td>{{item.nombre}}</td>
                      <td>{{item.stock}}</td>
                      <td>{{item.stock2}}</td>
                      <td>{{item.precio}}</td>
                      <td>{{item.codigo}}</td>
                      <td><button type="button" class="btn btn-success" (click)=ver(item)>Ir</button></td>
                   </tr>
                </tbody>
              </table>
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                  <div class="btn-group">
                     <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                  </div>
                  <div class="btn-group pull-right">
                     <ul class="pagination" >
                        <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                           <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                              <a (click)="setPage(page)" >{{page}} </a>
                           </li>
                        <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                     </ul>
                  </div>
                </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>