<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
      <div class="card" *ngIf="!loading">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Trazabilidad
          <div style="text-align:right">
            <!--button type="button" class="btn btn-success" (click)="ver(0)">Agregar un producto</button-->
          </div>
        </div>
        <div class="card-body" *ngIf="verProduc">
          <app-infotra [informacion]="producSelec" *ngIf="verProduc"></app-infotra>
        </div>
        <div class="card-body" *ngIf="!verProduc">
          <tabset>
            <tab heading="Trazas">
              
              <div class="row" *ngIf="verTrazas">
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Inicio: </label>
                  <input matInput [matDatepicker]="inicio2" placeholder="Choose a date" [(ngModel)]="inicioD2">
                  <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
                  <mat-datepicker #inicio2></mat-datepicker>
                </div>
                <div class="col-sm-5" style="text-align: center">
                  <label class="labels" style="font-size: 18px; font-weight: bold">Fin: </label>
                  <input matInput [matDatepicker]="fin2" placeholder="Choose a date" [(ngModel)]="finD2">
                  <mat-datepicker-toggle matSuffix [for]="fin2"></mat-datepicker-toggle>
                  <mat-datepicker #fin2></mat-datepicker>
                </div>
                <div class="col-sm-1" style="text-align: center"> 
                  <button type="button" class="btn btn-primary" (click)=buscar()>Buscar</button>
                </div>
              </div>
              <br><br><br>
              <div *ngIf="verTrazas">
                <div style="text-align: right;">
                  <button type="button" class="btn btn-primary" (click)=saveFile()>Exportar</button>
                </div>
                <div id="exportable">
                  <table class="table table-striped" >
                    <thead>
                      
                      <th>Fecha</th>
                      <th>Factura Nº</th>
                      <th>Remito Nº</th>
                      <th>O.C Nº</th>
                      <th>Insumo</th>
                      <th>Cantidad</th>
                      <th>Proveedor</th>
                      <th>Dpto Emisor</th>
                      <th>Responsable</th>
                      <th>Dpto Receptor</th>
                      <th></th>
                      <!--th>Cantidad</th>
                      <th>Nombre</th>
                      <th>Monto</th>
                      <th>Dto. Emisor</th>
                      <th>Usuario emisor</th>
                      <th>Dto. Receptor</th>
                      <th>Usuario receptor</th>
                      <th>Factura Nº</th>
                      <th>O.C</th>
                      <th>Fecha</th>
                      <th></th-->
                    </thead>
                    <tbody>
                       <tr *ngFor="let item of trazas">
                          <th>{{item.created_at  | date:'dd-MM-yyyy HH:MM:ss'}}</th>
                          <td>{{item.factura}}</td>
                          <td>{{item.remito}}</td>
                          <td>{{item.operacion_id}}</td>
                          <td>{{item.stock.nombre}}</td>
                          <td>{{item.cantidad}}</td>
                          <td>{{item.compra.proveedor.razon_social}}</td>
                          <!--td><div *ngIf="item.tipo!='Picking'">{{item.cantidad*item.stock.precio}}</div></td-->
                          <td>{{item.departamento_emisor.nombre}}</td>
                          <!--td>{{item.usuario_emisor.nombre}} {{item.usuario_emisor.apellido}}</td-->
                          <td>{{item.usuario_receptor.nombre}} {{item.usuario_receptor.apellido}}</td>
                          <td>{{item.departamento_receptor.nombre}}</td>
                          
                          <!--td>{{item.tipo}} {{item.factura}}</td-->
                          
                          
                          <td>
                            <div *ngIf="item.tipo!='Picking'">
                              <button type="button" class="btn btn-warning" (click)=compra(item.operacion_id)>Ver Compra</button>
                            </div>
                            <div *ngIf="item.tipo=='Picking'">
                              <button type="button" class="btn btn-success" (click)=picking(item.operacion_id)>Ver Solicitud</button>
                            </div>
                          </td>
                       </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
              <div *ngIf="verPicking">
                <div style="text-align: right;">
                  <button type="button" class="btn btn-success" (click)=picking(0)>Volver</button>
                </div>
                
                <div class="row">
                  <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="">
                              <div class="row">
                                <div class="col-lg-4">
                                  <strong>Nº Solicitud: </strong>{{informacion.id}}
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                
                                <div class="col-lg-4">
                                  <strong>Departamento: </strong>{{informacion.usuario.departamento.nombre}}
                                </div>
                                <div class="col-lg-4">
                                  <strong>Usuario: </strong>{{informacion.usuario.nombre}}
                                </div>
                                <div class="col-lg-4">
                                  <strong>Fecha de alta: </strong>{{informacion.created_at | date :  "dd-MM-yyyy"}}
                                </div>
                              </div>
                            </div>
                          </div>  
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="">
                              <div class="row">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                      <tr>
                                        <th>Código</th>
                                        <th>Cantidad</th>
                                        <th>Nombre</th>
                                        <!--th>Centro de costos</th-->
                                        <th *ngIf="informacion.estado!=0">Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of informacion.solicitud">
                                        <td>{{item.codigo}}</td>
                                        <td>{{item.pivot.cantidad}}</td>
                                        <td>{{item.nombre}}</td>
                                        <!--td>{{item.pivot.nombre_centro_costo}}</td-->
                                        <td *ngIf="informacion.estado!=0">
                                          <span [ngClass]="['badge', 'badge-success']" *ngIf="item.pivot.aprobado">Aprobado</span>
                                          <span [ngClass]="['badge', 'badge-success']" *ngIf="item.pivot.entregado">Entregado</span>
                                          <span [ngClass]="['badge', ' badge-danger']" *ngIf="item.pivot.cancelado">Cancelado</span>
                                          <span [ngClass]="['badge', ' badge-secondary']" *ngIf="item.pivot.devuelto">Devuelto</span>
                                          <span [ngClass]="['', ' badge-warning']" *ngIf="!item.pivot.aprobado && !item.pivot.entregado && !item.pivot.cancelado && !item.pivot.devuelto">Pendiente</span>
                                        </td>
                                        
                                        
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <label for="comment">Observaciones:</label>
                                      <div class="form-group" style="text-align: center">
                                  <textarea class="form-control" rows="5" cols="190" [(ngModel)]="informacion.observaciones"></textarea><br>
                                </div>
                                  </div>
                                  </div>
                              </div>
                            </div>
                          </div>  
                        </div>
                    </div>  
                </div>
              </div>
              <div *ngIf="verCompra">
                <div style="text-align: right;">
                    <button type="button" class="btn btn-warning" (click)=compra(0)>Volver</button>
                </div>
                <div class="row" >

                  <div class="col-lg-1">
                    
                  </div>
                  <div id="exportable" class="col-lg-10">
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="http://www.tecprecincsrl.com.ar/e/wp-content/uploads/2018/02/logo.png" style="width: 210px;">
                      </div>
                      <div class="col-sm-7" style="text-align: right;">
                        Compra: <strong>Nº {{enviado.id}}</strong><br>
                        Fecha: <strong>{{enviado.created_at | date:'dd-MM-yyyy'}}</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12" style="text-align: center">
                        <h4>ORDEN DE COMPRA</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <label>Proveedor:</label><strong> {{enviado.proveedor.razon_social}}</strong>
                      </div>
                      <div class="col-lg-4">
                        <label>Nombre fantasia:</label><strong> {{enviado.proveedor.nombre_fantacia}}</strong>
                      </div>
                      <div class="col-lg-4">
                        <label>Cuit:</label><strong> {{enviado.proveedor.cuit}}</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <label>Teléfono:</label><strong> {{enviado.proveedor.telefono}}</strong>
                      </div>
                      <div class="col-lg-4">
                        <label>Email:</label><strong> {{enviado.proveedor.email}}</strong>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-12">
                        <strong>Nota: </strong>{{enviado.nota}}<br>
                        <br>
                        <table class="table table-bordered">
                          <thead>
                            <th>Cantidad</th>
                            <th>Nombre</th>
                            <th>Precio Unit.</th>
                            <th>Total</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let it of enviado.productos">
                                <td>{{it.cantidad}}</td>
                                <td>{{it.nombre}}</td>
                                <td>{{it.precio | number : '1.2-2'}}</td>
                                <td>{{it.totales | number : '1.2-2'}}</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <strong>Observaciones:</strong>
                            {{enviado.observaciones}}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <strong>Observaciones de recepción:</strong>
                            {{enviado.obs_recepcion}}
                        </div>
                      </div>
                    </div> 
                    <br>
                    <div class="row">
                      <div class="col-lg-12" style="text-align:center">
                        ___________________________
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12" style="text-align:center">
                        Firma
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1">
                    
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Stock">
              
              <div class="form-group form-black label-floating is-empty">
                 <label class="labels" style="font-size: 18px; font-weight: bold">Filtrar: </label>
                <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                 <br>
              </div>
              <table class="table table-striped">
                <thead>
                  <th>Nombre</th>
                  <th>Stock principal</th>
                  <th>Stock secundario</th>
                  <th>Precio</th>
                  <th>Código</th>
                  <th></th>
                </thead>
                <tbody>
                   <tr *ngFor="let item of items">
                      
                      <td>{{item.nombre}}</td>
                      <td>{{item.stock}}</td>
                      <td>{{item.stock2}}</td>
                      <td>{{item.precio}}</td>
                      <td>{{item.codigo}}</td>
                      <td><button type="button" class="btn btn-success" (click)=ver(item)>Ir</button></td>
                   </tr>
                </tbody>
              </table>
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                  <div class="btn-group">
                     <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                  </div>
                  <div class="btn-group pull-right">
                     <ul class="pagination" >
                        <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                           <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                              <a (click)="setPage(page)" >{{page}} </a>
                           </li>
                        <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                     </ul>
                  </div>
                </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>